---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import vikingasBanner from "../images/vikingas_banner.png";
import vikingas from "../images/vikingas_epic.png";

const services: { name: string; price: string }[] = [
  { name: "Brushing", price: "$690" },
  { name: "Mascaras", price: "$590" },
  { name: "Baños de crema", price: "$390" },
  { name: "Alisados", price: "$1800" },
  { name: "Keratina, Botox, Bionutrición", price: "$990" },
  { name: "Soft Gel", price: "$800" },
  { name: "Lifting de Pestañas", price: "$1000" },
];
const year = new Date().getFullYear();
---

<Layout title="VIKINGAS - Ritual de Belleza">
  <header>
    <Image
      src={vikingas}
      alt="Vikingas Banner"
      class="hero-image"
      width={800}
      height={600}
      format="png"
    />
  </header>
  <main>
    <h1>Encontrá tu <span class="text-gradient">Ritual</span> de belleza</h1>
    <h2 class="subtitle">
      No somos <span class="text-gradient">peluquería</span>,<br /> somos arte.
    </h2>
    <p class="instructions">
      Sé <span class="text-gradient">pionera</span> en descubrir el cuidado que tu
      guerrera interior merece.<br />
      Tu ritual comienza con un <span class="text-gradient"
        >diagnóstico capilar</span
      > , para luego disfrutar de un momento de relax y belleza.
    </p>

    <!-- Sección de lista de precios -->

    <div class="services-list">
      <h2 class="list-title">
        Tu <span class="text-gradient">inversion</span> en cuidarte es
      </h2>
      <ul>
        {
          services.map((service) => (
            <li>
              <span>{service.name}</span>
              <span>{service.price}</span>
            </li>
          ))
        }
      </ul>
    </div>
    <!-- Botón de Reservar Cita -->
    <div class="cta-container">
      <a class="cta-button" href="https://bit.ly/4gR3yAs" target="_blank">
        Reservar Cita
      </a>
    </div>
  </main>
  <footer class="footer">
    <div class="footer-bottom">
      <p>&copy; {year} VIKINGAS. Todos los derechos reservados.</p>
    </div>
  </footer>

  <style>
    /* Estilos para desktop */
    header {
      margin: 48px 0;
    }
    .hero-image {
      width: 450px;
      margin: 0 auto;
      height: auto;
    }
    main {
      margin: 0 auto;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin: 1em 0;
    }
    h2 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin: 3em 0;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 12px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .subtitle {
      font-size: 2em;
      font-weight: bold;
    }

    .services-list ul {
      list-style: none;
      padding: 0;
      margin: 48px 0;
    }
    .services-list li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid white;
      padding: 1rem 0;
      font-size: 1.5rem;
    }
    /* Estilos del botón inspirado en el estilo de Apple */
    .cta-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .cta-button {
      background-image: linear-gradient(90deg, #007aff, #0051ba);
      color: white;
      padding: 1rem 4rem;
      font-size: 1.5rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 2rem auto;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      box-shadow: 0px 4px 10px rgba(0, 122, 255, 0.3);
    }

    .cta-button:hover {
      background-image: linear-gradient(90deg, #0051ba, #003a8c);
      transform: translateY(-1px);
      box-shadow: 0px 6px 12px rgba(0, 122, 255, 0.5);
    }

    .cta-button:active {
      background-image: linear-gradient(90deg, #003a8c, #0051ba);
      transform: scale(0.98);
      box-shadow: 0px 2px 8px rgba(0, 122, 255, 0.3);
    }
    /* Estilos del Footer */
    .footer {
      background-color: #000;

      text-align: center;
      color: white;
      margin-top: 2rem;
    }

    .footer-text {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      color: #ccc;
    }

    .footer-bottom {
      background-color: #111;
      padding: 1rem 0;
      margin-top: 2rem;
    }

    .footer-bottom p {
      font-size: 1rem;
      color: #777;
    }

    /* Media query para pantallas pequeñas */
    @media (max-width: 768px) {
      .hero-image {
        width: 200px;
        margin: 0 auto;
        height: auto;
      }
      main {
        width: 100%;
        padding: 0 1rem;
      }

      h1 {
        font-size: 2rem;
      }

      .subtitle {
        font-size: 1.5rem;
      }

      .services-list li {
        font-size: 1.2rem;
        padding: 0.8rem 0;
      }

      .instructions {
        font-size: 1rem;
        padding: 1rem;
      }

      .instructions code {
        font-size: 0.7em;
      }

      .cta-button {
        width: 100%;
        font-size: 1rem;
        padding: 1rem;
        text-align: center;
      }
    }
  </style>
</Layout>
